@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
    font-family: 'Noto Sans TC', sans-serif;
}

.separator {
    height: 50px;
}

.page-header {
    margin-bottom: 30px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #999;
}

footer {
    padding: 30px;
    height: 80px;
}

#intput-image-preview,
#output-image-preview {
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    background-color: #FFFFFF;
    color: #ecf0f1;
    border: 2px dotted #0B85A1;
    margin-left: auto;
    margin-right: auto;
}

#intput-image-preview input {
    line-height: 200px;
    font-size: 200px;
    position: absolute;
    opacity: 0;
    z-index: 10;
}

#intput-image-preview label {
    position: absolute;
    z-index: 5;
    opacity: 0.8;
    cursor: pointer;
    background-color: #92AAB0;
    width: 200px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}